body {
    margin: 0;
    padding: 0;
}

.clearborder {
    border: 0px !important;
}
.bold{
    font-weight: bold;
}
#blank {
    width: 100%;
    height: 2000px;
}
ul{
    list-style-type:none;
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
}
#header-top-outer {
    /* width: 100%; */
    height: 30px;
    background-color: #EAEAEA;
    font-size: 0px;
    min-width: 1200px;
}

#header-top-container {
    width: 1200px;
    margin: 0 auto;
    font-size: 0px;
}

#header-top #header-top-container a {
    text-decoration: none;
    color: #666666;
}

#header-top-container #header-top-loginlist span {
    float: left;
    font-size: 12px;
    line-height: 30px;
}

#header-top-container #header-top-loginlist span {
    margin-right: 10px;
    ;
}

#header-top-container #header-top-loginlist #register {
    padding: 0 5px;
    border-left: 1px solid #B3AEAE;
    margin-left: 5px;
}

#header-top-navi {
    float: right;
    display: block;
    line-height: 30px;
    font-size: 16px;

}

#header-top-navi-content {}

#header-top-container ul {

    list-style-type: none;
    padding: 0px;
    margin: 0px;
    font-size: 12px;
}

#header-top-container ul li {
    height: 16px;
    display: inline-block;

}

#header-top-container ul li a {
    width: 69px;
    padding-right: 10px;
    padding-left: 10px;
    border-right: 1px solid #B3AEAE;
}

/* ·········································································· */
#header-middle {
    width: 1200px;
    height: 106px;
    margin: 0 auto;
    font-size: 0px;
}

#header-middle #header-middle-image {
    margin: 25px 45px;
    float: left;
}

#header-middle #header-middle-search {
    float: right;
    margin-top: 35px;

}

#header-middle #header-middle-search input {
    width: 478px;
    height: 28px;
    padding: 0 4px;
    border: 2px solid #EA4A36;
    border-right: 0;
    vertical-align: middle;

}

#header-middle #header-middle-search button {
    width: 68px;
    height: 32px;
    color: white;
    background-color: #EA4A36;

    border: 0px;
    vertical-align: middle;
    font-size: 12px;
}

/* `````````````````````````````````````````````````````````````````````` */
#header-navi {
    width: 100%;
    height: 45px;
    border-bottom: 2px solid #E1251B;
}

#header-navi-content {
    width: 1200px;
    /*  height: 106px; */
    margin: 0 auto;


}

#header-navi-content ul {

    list-style-type: none;
    padding: 0px;
    margin: 0px;
    font-size: 12px;

}

#header-navi-content ul li.outer-navi {
    text-align: center;
    float: left;
    line-height: 45px;
    height: 45px;
    padding: 0px;
    margin: 0px;
}

#header-navi-content ul a {
    text-decoration: none;
    color: black;
    display: inline-block;
    font-size: 16px;
    margin: 0 22px;
}

#header-navi-content #header-navi-total {
    width: 210px;
    background-color: #E1251B;
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

/* ``````````````````````````````````````````````````````···················· */

#outerul{
    list-style: none;
    padding: 0 ;
    margin: 0;
}
#header-navi-list .outer-navi #secord-navi-list  {
    list-style: none;
    padding: 0 ;
    margin: 0;
    position:relative;
    text-align: left;
    z-index: 200;
}
#header-navi-list .outer-navi #secord-navi-list   dt{
   padding: 0 20px;
    height: 30px;
    line-height: 30px;
}
#header-navi-list .outer-navi #secord-navi-list  {
    text-align: left;
    font-size: 14px;
}
#header-navi-list .outer-navi #secord-navi-list  a{
    font-size: 14px;
    margin: 0;
    color: black;
    text-decoration: none;
}

#header-navi-list .outer-navi dl {
    width: 210px;
    height: 461px;
    background-color: #FAFAFA;
}
#header-navi-list #header-navi-total {
    display: inline-block;
    height: 45px;
    line-height: 45px;
    width: 210px;
    background-color: #E1251B;
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin: 0 auto;
}   
#header-navi-list .submenu{
    display:none;
    position:absolute;
    left:210px;
    top:-1px;
    bottom:-1px;
    width:740px;
    border:1px solid #DEDEDE;
    background-color: #FAFAFA;
    z-index: 100;
}
#header-navi-list dl dt:hover div.submenu{
    display:block;
}
#header-navi-list .outer-navi #secord-navi-list .submenu dl{
    margin: 0px;
    margin-top: 5px;
    padding: 0px !important;
}
#header-navi-list .outer-navi #secord-navi-list .submenu dl dd{
    width: 900px;
    margin-left: 25px;
    float: left !important;
}
#header-navi-list .outer-navi #secord-navi-list .submenu dl dd a{
    display: inline-block;
    font-size: 12px;
    padding-top: 3px;
    padding-right: 8px;
    padding-left: 8px;
    border-right: 1px solid #CCCCCC;
    height: 14px;
    line-height: 14px;
    color: #666 
}
#header-navi-list .outer-navi #secord-navi-list .submenu .submenu-first{
    font-weight: bold;
    padding-left: 0 ;
    color: #666  !important;

    
}
/* `````````````````````````````````````````````````````````````````````` */
#center{
    
    position: relative;
    height: 475px;
    width: 1200px;
    margin: 0 auto;
}
#center #center-display{
    position: absolute;
    width: 730px;
    height: 464px;
    overflow: hidden;
    margin: 5px;
    margin-left: 215px;
    margin-top: 0;
    padding-left: 0px;
}
#center #center-display ul {
    position: absolute;
    left: 0;
    top: 5px;
    width: 9000px;
}
#center #center-display ul li{
    float: left;
}
#center #center-display #center-display-prev{
    width: 27px;
    height: 44px;
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -22px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
}
#center #center-display #center-display-next{
    width: 27px;
    height: 44px;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -22px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
}
#center #center-display #center-display-guide{
    height: 10px;
    width: 730px;
    position: absolute;
    bottom: 18px;
    left: 50%;
    margin-left: -32px;
}
#center #center-display #center-display-guide #guide-ul {
    width: 730px;
    height: 8px;
}
#center #center-display #center-display-guide #guide-ul li{
    float: left;
}
#center #center-display #center-display-guide #guide-ul li #center-display-guide-circle{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white;
    margin: 0 4px;
    opacity: .5;
}
#center #center-display #center-display-guide #guide-ul li:first-of-type #center-display-guide-circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #007AFF;
    margin: 0 4px;
}
#center #center-news {
    position: absolute;
    right: 0px;
    width: 250px;
    height: 180px;
    border: 1px solid #e4e4e4;
    margin-top: 5px;
    box-sizing: border-box;
}
#center #center-news h4{
    font-size: 14px;
    margin: 0;
    width: 218px;
    height: 22px;
    line-height: 22px;
    padding: 5px 10px;
/*             padding-left: 12px; */
    margin: 5px;
    margin-bottom: 0;
    border-bottom: 1px solid #E4E4E4;

}
#center #center-news h4 span{
    font-size: 12px;
    float: right;
}
#center #center-news h4 span a{
    text-decoration: none;
    color: black;
    font-weight: normal;
}
#center #center-news  ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    font-size: 0px;
    padding: 5px 15px;
}
#center #center-news  ul li{
   height: 26px;
   line-height: 26px;
   font-size: 12px;
}
/* ``````````````````````````````````````````````````````` */

/* ````````````````````````````````````````````````` */
#footer{
    width: 100%;
    height: 100%;
    background-color:#EAEAEA ;
}
#footer-top {
    margin: 0 auto;
    text-align: center;
    background-color: #EAEAEA;
    height: 205px;
    width: 1230px;
    min-width: 1200px;
    border: 1px solid transparent;
    border-bottom: 1px solid #E4E1E1;
    padding: 20px;
    padding-left: 40px;
    box-sizing: border-box;
}

#footer-top ul {
    width: 190px;
    vertical-align: top;
    list-style-type: none;
    display: inline-block;
}

#footer-top ul li {
    font-size: 12px;
    text-align: left;
}

#footer-top .footer-top-title {
    font-size: 14px;
    font-weight: bold;
    margin: 5px;
    margin-left: 0;
}

#footer-top .footer-top-con img {
    width: 121px;
    height: 145px;
}

#footer-copyright {
    text-align: center;
    background-color: #EAEAEA;
    height: 75px;
    width: 100%;
    min-width: 1200px;
    font-size: 12px;
    padding: 20px 0;
}

#footer-copyright ul {
    vertical-align: top;
    list-style-type: none;
    display: inline-block;
    font-size: 0px;
}

#footer-copyright ul li {
    display: inline-block;
    height: 16px;
    padding: 0 5px;
    
    font-size: 12px;
}

#footer-copyright ul li a {
    text-decoration: none;
    color: #333;
    border-right: 1px solid #333;
    padding: 0 5px;
    padding-right: 10px;
}
#footer-copyright p{
    margin: 10px 0;
}
/* ································································ */
#ranking{
    width: 1200px;
    height: 438px;
    margin: 0 auto;
    /* border: 1px solid red; */
    margin-top: 10px;
}
#ranking #ranking_switch{
    width: 312px;
    height: 78px;
    margin: 0 auto;
    /* border: 1px solid pink; */
    
}
#ranking #ranking_switch .switch{

    width: 100px;
    height: 78px;
    /*  *//* border: 1px solid pink; */
    float: left;
    padding: 0 1px;
    position: relative;
    color: #E60012;
    text-align: center;
}
#ranking #ranking_switch .switch .switch_img1{
    width: 35px;
    height: 35px;
    background-image: url("../img/home/bg0.png");
    background-repeat: no-repeat;
    background-position:-35px;
    position: absolute;
    top: 4px;
    left: 28px;
}
#ranking #ranking_switch .switch .switch_img_unfocus{
    width: 35px;
    height: 35px;
    background-image: url("../img/home/bg0.png");
    background-repeat: no-repeat;
    background-position:0px;
    position: absolute;
    top: 4px;
    left: 28px;
}
#ranking #ranking_switch .switch h3{
    font-weight: normal;
    font-size: 16px;
    margin: 0px;
    position: absolute;
    top: 47px;
    left: 15px;
}
#ranking #ranking_switch .switch:hover h3{
    color: lightgreen;
}
#ranking #ranking_switch .switch #unfocus{
    color: #999;
}
#ranking #ranking_content{
    width: 1200px;
    height: 360px;
    /* border: 1px solid green; */
    padding: 10px;
    box-sizing: border-box;
}
#ranking #ranking_content .ranking-unit{
    width: 269px;
    float: left;
}
#ranking #ranking_content .ranking-unit p{
    display: block;
    margin: 0;
    margin-top: 10px;
    padding-left: 10px;
    
}
#ranking #ranking_content .ranking-unit a{
    text-decoration: none;
    font-size: 12px;
    color: black;

    white-space: normal;
}
#ranking #ranking_content .ranking-unit a:hover{
    color: lightgreen ;
}
#ranking #ranking_content .ranking-unit h3{
    color: red;
    font-weight: normal;
    margin: 0;
    margin-top: 15px;
    font-size: 20px;
    padding-left: 10px;
}
#ranking #ranking_content .ranking-unit{
    width: 269px;
    height: 328px;
    margin: 0px 12px 10px 12px;
    border: 1px solid #E60012;
    box-sizing: border-box;
    
}
#ranking #ranking_content .ranking-unit .ranking-unit-img{
    width: 230px;
    height: 210px;  
    margin: 5px 19.5px 18px 19.5px ;
    text-align: center;

}
#ranking #ranking_content .ranking-unit .ranking-unit-img img{
    width: 200px;
    height: 200px;  
}

/* ````````````````````````````````````````````````````````````````````` */
#center #center-lifelist {
    width: 250px;
    height: 195px;
    /* border-right: 1px solid #e4e4e4; */
    border-left: 1px solid #e4e4e4;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: 185px;
    font-size: 12px;
}

#center #center-lifelist ul {
    list-style-type: none;
    text-align: center;
}

#center #center-lifelist ul li {
    padding: 0;
    margin: 0;
    width: 25%;
    height: 65px;
    float: left;
    border: 1px solid #e4e4e4;
    border-top: 0;
    border-left: 0;
    border-collapse: collapse;
    box-sizing: border-box;
    /* text-align: center; */
}

#center #center-lifelist ul li div {
    width: 25%;
    height: 40px;

    float: left;
}

#center #center-lifelist ul li div {
    width: 61px;
    height: 40px;
    background-image: url(../img/home/icons.png);
    background-repeat: no-repeat;
}

#center #center-lifelist ul li span {
    display: block;
    padding-left: -1px;
    width: 60px;
    height: 23px;
    line-height: 22px;
    color: #333;
}

#center #center-lifelist #center-lifelist-content-huafei {
    background-position: 0px -5px;
}

#center #center-lifelist #center-lifelist-content-jipiao {
    background-position: -62px -5px;
}

#center #center-lifelist #center-lifelist-content-dianyingpiao {
    background-position: -126px -5px;
}

#center #center-lifelist #center-lifelist-content-youxi {
    background-position: -190px -5px;
}

#center #center-lifelist #center-lifelist-content-caipiao {
    background-position: 0px -76px;
}

#center #center-lifelist #center-lifelist-content-jiayouzhan {
    background-position: -62px -76px;
}

#center #center-lifelist #center-lifelist-content-jiudian {
    background-position: -126px -76px;
}

#center #center-lifelist #center-lifelist-content-huochepiao {
    background-position: -190px -76px;
}

#center #center-lifelist #center-lifelist-content-zhongchou {
    background-position: 0px -146px;
}

#center #center-lifelist #center-lifelist-content-licai {
    background-position: -62px -146px;
}

#center #center-lifelist #center-lifelist-content-lipinka {
    background-position: -126px -146px;
}

#center #center-lifelist #center-lifelist-content-baitiao {
    background-position: -190px -146px;
}

#center #center-sellimg {
    position: absolute;
    right: 0;
    bottom: 15px;
    width: 250px;
    height: 75px;
    opacity: .8;
    background-image: url(../img/home/ad1.png);
    background-repeat: no-repeat;
}

#center #center-sellimg:hover {
    opacity: 1;
}

/* ``````````````````````````````````````````````````````` */
#show {
    min-width: 1200px;
    width: 100%;
    height: 165px;
    margin-top: -1px;
}

#show #show-container {
    width: 1200px;
    height: 165px;
    /* border: 1px solid red; */
    margin: 0 auto;

}

#show #show-container ul {
    font-size: 0px;
}

#show #show-container ul li {
    float: left;
    width: 20.83%;
    height: 165px;
}

#show #show-container ul li .today-sell {
    width: 100%;
    height: 165px;
}

#show #show-container ul #clock {
    width: 16.67%;
    background-color: #5C5251;
    position: relative;
    text-align: center;
}

#show #show-container ul #clock #today {
    width: 100%;
    height: 165px;
    padding: 30px 0;
    box-sizing: border-box;
}

#show #show-container ul #clock #clock-img {
    /*         position: absolute;
    top: 50%;
    left: 0; */
}

#show #show-container ul h3 {
    position: absolute;
    z-index: 100;
    width: 200px;
    height: 30px;
    display: block;
    font-size: 18px;
    color: white;
    margin: 12px 0;
}

/* ```````````````````````````````````````````````````````````` */
#guess {
    width: 1200px;
    height: 282px;
    margin: 0 auto;
    margin-top: 15px;

}

#guess #guess-title {
    overflow: hidden;
    height: 30px;
    /* border: 1px solid black; */
}

#guess #guess-title h3 {
    float: left;
    margin: 0px;
    font-size: 20px;
    vertical-align: middle;
}

#guess #guess-title #guess-fresh {
    float: right;
    height: 30px;
}

#guess #guess-title #guess-fresh a {
    text-decoration: none;
    font-size: 12px;
    color: #5C5251;
    line-height: 30px;
}

#guess #guess-title #guess-fresh a:hover {
    color: lightgreen;
}

#guess #guess-title #guess-fresh #guess-fresh-img {
    background-image: url(../img/home/icons.png);
    background-repeat: no-repeat;
    background-position: -420px -101px;
    width: 28px;
    height: 28px;
    display: inline-block;
    cursor: pointer;
}

#guess #guess-list {
    width: 1178px;
    height: 250px;
    padding: 0 10px;
    border: 1px solid #E4E4E4;
    font-size: 12px;
}

#guess #guess-list ul {
    
}

#guess #guess-list ul li {
    float: left;
    width: 196px;
    text-align: center;
    
}
#guess #guess-list ul li .guess-list-container #guess-list-container-text{

    width: 143px;
    height: 83px;
    margin-top:2px; 
    display: inline-block;
    border-right: 1px solid #E4E4E4;
}
#guess #guess-list ul li .guess-list-container #guess-list-container-text h3{
    text-align: left;
    font-size: 20px;
    color: #df3033;
}
#guess #guess-list ul li span {
    display: block;
    text-align: left;
    
}
#guess #guess-list ul li .guess-list-container img{
    margin-top: 10px;
    width: 142px;
    height: 142px;
}
#guess #guess-list ul li .guess-list-container img:hover    {
    opacity: .8;
    transform: scale(1.1);
}